.card {
  width: 200px;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}
